<% include header.ejs %>
    <div class="row">
        <div class="col-sm-3">
            <h2>Login</h2>
            <form action="/manager/login" method="POST">
                <input type="text" placeholder="name" name="name" class="form-control">
                <input type="password" placeholder="password" name="password" class="form-control">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <hr />
        <ul class="replies">
            <% for(var i=0; i<replies.length; i++) {%>
                <li class="reply">
                    <span><%= replies[i].name %></span>
                    <span><%= replies[i].quote %></span>
                </li>
                <% } %>
        </ul>
    </div>
    <% include footer.ejs %>
